:root{
    --theme-blue: #0000FF;
   --theme-pink: #ED125A;
    --theme-purple: #662D91;
}

@font-face {
    font-family:"archivo" ;
    src: url("../assets/fonts/ArchivoBlack-Regular.ttf");
}
@font-face {
    font-family:"paytone" ;
    src: url("../assets/fonts/PaytoneOne-Regular.ttf");
}
@font-face {
    font-family:"RedHatLight" ;
    src: url("../assets/fonts/RedHatText-Light.ttf");
}
@font-face {
    font-family:"RedHatLightItalic" ;
    src: url("../assets/fonts/RedHatText-LightItalic.ttf");
}

html,body{
    margin: 0;
}
.App{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}