.contact-page{
    background-color: white;
    color: black;
}

.contact-page h1{
    text-align: center;
    font-size: 9rem;
    color: black;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-bottom: 0;
}

.contact-page p{
    text-align: center;
    font-size: 1.1rem;
}
.contact-form-container {
    display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px
}

.contact-form-container form{
  width: 80% ;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-form-container input, 
.contact-form-container textarea{
    width: 50%;
    background-color: white;
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
  font-family:Helvetica;
}
.contact-form-btn{
    width: 20%;
    background-color: black;
  color: white;
  margin: 10px;
  padding: 20px 5px;
  font-family:Helvetica;
  border: none;
  transition: all ease-in-out 0.2s;
}
.contact-form-btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

@media screen and (max-width: 800px) {

    .contact-page h1{font-size: 4.5rem;}
}
@media screen and (max-width: 650px) {
    .contact-page h1{font-size: 3rem;}
    .contact-page p{font-size: 1rem;}
    .contact-form-container form{width: 100%;}
}