
/* Website Intro Animation */
.pageIntro{
    background-color: #fff;
    font-family:"archivo" ;
    color: #000;
    animation: introAnimation 6s  1;
    transition: 0.5ms all ease-in-out;
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-header{
    position: absolute;
    transition: all 0.5ms ease-in-out;
}


@keyframes introAnimation {
    0%{
        background-color: var(--theme-blue);
    color: #fff;
    font-family:"paytone" ;
    }
    25%{
        background-color: var(--theme-pink);
        color: #fff;
        font-family:"archivo" ;
    }
50%{
    background-color: var(--theme-purple);
        color: #fff;
        font-family:"paytone" ;
}
75%{
    background-color: var(--theme-blue);
    color: #fff;
    font-family:"archivo" ;
}
100%{
    background-color: #fff;
    font-family:"archivo" ;
 
}
}

/* HomePage */

.home-logo{
    font-family:"archivo" ;
    margin: 50px;
    font-size: 180px;
}
.home-logo::after{
    content: "";
    animation: logo 7s linear infinite;
}

 @keyframes logo {
    0%{
content: "Design";
    }
    100%{
        content: "Fyve Senses";
    }
 }
.home-line{
margin: 50px;
}
.quickLinks{
    margin-left: 50px;
    font-size: 30px;
    font-family:"RedHatLight" ;
}
.row1 a, .row2 a{
    text-decoration: none;
    color: #000;
    margin-right: 50px; ;
}