.nav-menu{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.nav-menu ul{
    display: flex;
}
.nav-menu a{
    text-decoration: none;
    color: black;
    display: inline-block;
}
.nav-menu li{
   list-style: none;
   margin: 10px;
}
.nav-menu h1{
    margin: 10px;
    z-index: 100;
}
.hamburger{
    display: none;
}
.hamburger-menu{
    display: none;
}

/* Responsive Design */

@media screen and (max-width: 550px) {
.nav-menu ul{
    display: none;
}
.hamburger{
    display: block;
    margin: 10px;
    z-index: 100;
}
.hamburger-menu{
    position: absolute;
    background-color: white;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger-menu ul{
    display: block;
    font-size: 32px;
    text-align: center;
    padding: 0;
}
.hamburger-menu a{
    margin: 10px;
}

  }
  
  /* Footer Styles */
.footer{
margin-top: auto;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.footer-links{
    display: flex;
}
.footer-links div{
    margin: 0px 10px;
}
.footer-links ul{
    padding: 0;
}
.footer-links ul li{
    list-style: none;
}
.footer-links a{
    text-decoration: none;
    color: black;
}
.footer-menu h3{
font-size: 16px
}
.call-to-action{
    text-decoration: none;
    color: white;
    background-color: var(--theme-color);
    padding: 10px;
    border-radius: 20px;
    transition: all .5s ease-in-out;
}
.call-to-action:hover{
font-size: 18px;
}
.footer-tagline{
    margin: 0px 30px 0px;
    font-size: 32px;
}
@media screen and (max-width: 650px) {

    .footer-menu{
        flex-direction: column;
    }
    .footer-menu div{
       margin: 20px 20px 0px 0px ;
    }
    .footer-tagline{
        font-size: 25px;
    }

}
@media screen and (min-width: 2000px) {
    .footer-tagline{
        font-size: 40px;
    }
    .footer-menu{
        font-size: 20px;
    }
}