



/* Navbar Styles */
.icon-container{
position: fixed;
right: 0;
margin: 50px;
z-index: 3;
}

.sidebar{
display: none;
}
.sidebar.active{
    display: block;
   background-color: #fff;
   width: 100%;
   height: 100dvh;
   margin: 0;
   position: fixed;
   z-index: 2;
}
.sidebar.active h1{
    font-family:"archivo" ;
    font-size: 150px;
    margin-left: 70px;
}
.line{
    margin-left: 70px;
    width: 90%;
    color: black;
}
.sidebarLink{
    font-family:"RedHatLight" ;
    text-decoration: none;
    color: #000;
    font-size: 50px;
    margin: 20px;
    transition: 0.7s ease-in-out;
}
.sidebarLink:hover{
    color: var(--theme-blue);
    font-size: 49px;
}
.sideBarLinks{
text-align: center;
margin-top: 70px;
}
.sidebar-logo{
    text-decoration: none;
    color: #000;
}

/* Footer Styles */
.footer{
 margin-top: auto;

   border-top: 0.5px solid black;
   padding: 20px;
}
.footerContainer{
    display: flex;
    justify-content: space-around;

}
.footerMenu h2{
    font-family:"paytone" ;
    font-size: 12px;
}
.footerlink{
    display: block;
    font-family:"RedHatLight" ;
    text-decoration: none;
    color: #000;
    font-size: 10px;

}
.footerImage a{
    margin-right: 10px;
}
.copyright{
    font-family:"RedHatLight" ;
    text-align: center;
    margin: 20px;  
    font-size: 10px;
}