
/* Navbar Styles */
.icon-container{
z-index: 3;
margin-left: auto;
padding: 50px;
}

.sidebar{
display: none;
}
.sidebar.active{
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
   background-color: #fff;
   width: 100%;
   height: 100dvh;
   margin: 0;
   position: fixed;
   z-index: 2;
}

.sidebar-logo{
    text-decoration: none;
    color: #000;
    font-family:"archivo" ;
    font-size: 50px;
}
.sideBarLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sidebarLink{
    color: #000;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    font-family:"RedHatLight" ;
    transition: ease-in-out 0.5s;
  
}
.sidebarLink:hover{
color: var(--theme-blue);
scale: 1.2;
}

/* Navbar Responsive Styles */
@media screen and (max-width: 750px) {
    .sidebar-logo{
        font-size: 25px;
    }
    .sidebarLink{
        font-size: 15px;
    }
}
@media screen and (max-height: 500px) {
    .sidebar-logo{
        font-size: 15px;
    }
    .sidebarLink{
        font-size: 12px;
    }
}



/* Footer Styles */
.footer{
 margin-top: auto;
}
.footer-line{
    margin: 0px 50px 20px;

}
.quick-links, .footer-message{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-link{
    color: #000;
    text-decoration: none;
    margin: 20px;
    font-family:"RedHatLight" ;
    font-size: 12px;
}
.copyright{
    font-size: 12px;
    font-family:"RedHatLight" ;
    margin: 0px 20px 20px;
}
.copyright a{
    color: #000;
    text-decoration: none;
}


/* Footer Responsive Styles */
@media screen and (max-width: 480px) {
    .footer-link{
        margin: 5px;
        font-size: 8px;
    }
    .copyright{
        font-size: 8px;
    }

}

